@import "tailwindcss";

@theme inline {
  --color-cream: #F9DBBD;
  --color-accent: #FFA5AB;
  --color-primary: #DA627D;
  --color-hover: #A53860;
  --color-heading: #450920;
  --font-sans: var(--font-inter), "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #DA627D;
  color: white;
}

body {
  background-color: #F9DBBD;
  color: #450920;
}
